.configuracoes {
    background-color: #F1F1F1;
    padding-left: 40px;
    height: 100vh;
}
form {
    margin-left: 100px;
}
form input{
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
}
button {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botoes-1 {
    display: flex;
    gap: 190px;
}
button[type="submit"]{
    background-color: blue;
    color: white;
}
button[type="reset"]{
    background-color: white;
    color: blue;
}
button:hover  {
    border: 1px solid white;
    background-color: blue;
    color: white;
}