.reservas {
    background-color: #F1F1F1;
}
form {
margin-left: 50px;
}

form input, textarea, select{
    width: 40%;
    height: 30px;
    margin-bottom: 10px;
}
input[type="date"] {
    width: 100px;
    margin-right: 20px;
}

span {
    color:blue
}
form button, button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    gap: 5px;
    border: 1px solid blue;
    cursor: pointer;
}
button[type="submit"], button[type="button"] {
    background-color: blue;
    color: white;
}
button:hover {
    background-color: blue;
    border: none;
    
}
.botoes {
    display: flex;
    gap: 40px;
}
button[type="button"] {
    color: blue;
    background-color:white;
}
button[type="button"]:hover {
    color: white;
    background-color:blue;
}
.label {
    display: flex;
    align-items: right;
    justify-content: right;
}
a {
    cursor: pointer;
}